fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pandas
numpy
networkx
python-louvain
scikit-learn
faker
phonenumbers
aiofiles
httpx
psycopg2-binary
python-dotenv